@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&family=Noto+Sans+KR:wght@300&family=Ubuntu+Mono:ital,wght@1,700&display=swap');






// 햄버거 버튼
// nav 제이쿼리
// footer 제작

// 포폴 사이트 개설
// git에 올리기












*{margin: 0; padding: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
img{width: 100%;}
button{outline: none;}

#wrap{
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
h2{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0;
    display: inline-block;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 2.5rem;
    text-align: center;

    opacity: 0;

    &::after{
        content: "";
        position: absolute; z-index: -1;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 25%;
        border-radius: 20px 0 20px 0;
    }
}

header{
    position: relative;
    width: 100%;
    height: 100%;
    nav.pc.tablet{    
        position: fixed; z-index: 2;
        top: 1.2rem;
        right: 3rem;
        ul{
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
            li{
                position: relative;
                margin: 0 10px;
                font-size: 1.3rem;
                // color: #df805d;
                font-weight: bold;
                cursor: pointer;

                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    width: 13px;
                    height: 2px;
                    margin: 0 20px;
                    background: #df805d;
                    cursor: default;
                }
                &:hover::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 2px;
                    background: #88d9ed;


                    cursor: default;
                    animation: hover .3s linear forwards;
                }
                &:last-child::after{
                    width: 0;
                    height: 0;
                    margin: 0;
                }
                @keyframes hover {
                    to{
                        width: 100%;
                    }
                }
            }
        }
    }

    nav.mobile{
        display: none;
    }
}

section{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #a6f7d8, #a7bbff, #fec051, #FEE140, #FA709A );
	background-size: 100%;
	background-repeat: no-repeat;
    overflow: hidden;
    &::before{
        content:'';
            position: fixed;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
            background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #21D4FD 75%);
    }
    article{
        margin: 5rem 3rem;
        padding: 4rem 2rem;
        background: #fff;

        &.on{
            h2{
                animation: h2 .3s linear forwards;
                animation-delay: .5s;
            }
            .my_img{
                animation: show .5s linear forwards;
                animation-delay: 1s;
            }
            #profile{
                animation: show 0.5s cubic-bezier(0.4, 0, 0.48, 1) forwards;
                animation-delay: 1s;
            }
            #certificate{
                animation: show 0.5s cubic-bezier(0.4, 0, 0.48, 1) forwards;
                animation-delay: 1.5s;
            }
            #education{
                animation: show 0.5s cubic-bezier(0.4, 0, 0.48, 1) forwards;
                animation-delay: 2s;
            }
            .html{
                animation: show 0.5s cubic-bezier(0.4, 0, 0.48, 1) forwards;
                animation-delay: 1s;
            }
            .css{
                animation: show 0.5s cubic-bezier(0.4, 0, 0.48, 1) forwards;
                animation-delay: 1.3s;
            }
            .scss{
                animation: show 0.5s cubic-bezier(0.4, 0, 0.48, 1) forwards;
                animation-delay: 1.6s;
            }
            .jquery{
                animation: show 0.5s cubic-bezier(0.4, 0, 0.48, 1) forwards;
                animation-delay: 1.9s;
            }
            .javascript{
                animation: show 0.5s cubic-bezier(0.4, 0, 0.48, 1) forwards;
                animation-delay: 2.2s;
            }

        }

        &#home{
            position: relative;
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;

            border-radius: 5px;
            overflow: hidden;
            background: url(../images/coding2.jpg) no-repeat left top;
            background-size: cover;
            // transform: scale(.8);

            div{
                margin-left: 55px;
                margin-top: 4px;
                p{
                    margin-bottom: 9.2px;
                    font-size: 27.2px;
                    color: #888;
                    span{
                        &:nth-of-type(1){
                            color: #80a8f8;
                        }
                        &:nth-of-type(2){
                            color: #88d9ed;
                        }
                        &:nth-of-type(3){
                            color: #df805d;
                        }
                        &:nth-of-type(4){
                            color: #88d9ed;
                        }
                        &:nth-of-type(5){
                            color: #df805d;
                        }
                    }

                    &:nth-of-type(7){
                        span{
                            color: #80a8f8;

                            &:nth-of-type(2){
                                position: relative;
                                color: #000;
                                font-size: 35px;
                                font-weight: bold;
                                font-family: 'Noto Sans KR', sans-serif;
                                word-break: keep-all;
                            }

                            &.cursor{
                                width: 3px;
                                height: 100%;

                                animation: opac .9s linear infinite;
                            }

                            @keyframes opac {
                                from{
                                    color: #fff;
                                }
                                to{
                                    color: #000;
                                }
                            }
                        }
                    }

                    &:nth-of-type(10){
                        margin-left: 70px;
                        span{
                            font-size: 27.2px;
                            font-weight: normal;
                            color: #888;
                            font-family: unset;
                            color: #80a8f8;

                            &:nth-of-type(2){
                                color: #000;
                                font-size: 35px;
                                font-weight: bold;
                                font-family: 'Noto Sans KR', sans-serif;
                            }
                        }
                    }

                    &:nth-child(n+4):nth-child(-n+7){
                        margin-left: 70px;
                    }
                    &:nth-child(n+6):nth-child(-n+12){
                        margin-bottom: 5px;
                    }
                }
            }
        }

        &#about_me{
            border-radius: 7% 25% 11% 30%;
            h2{
                &::after{
                    background: #a6e0e6;
                }
            }
            &>div{
                position: relative;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                gap: 10rem;
                flex-wrap: wrap;
                &>div{
                    &.my_img{
                        width: 250px;
                        opacity: 0;
                        transform: translateY(200px);
                    }
                    &:nth-of-type(2){
                        width: 660px;
                        &>div{
                            padding: 1rem;
                            &#profile{
                                opacity: 0;
                                transform: translateY(200px);
                            }
                            &#certificate{
                                opacity: 0;
                                transform: translateY(200px);
                            }
                            &#education{
                                opacity: 0;
                                transform: translateY(200px);
                            }

                            h3{
                                margin-bottom: .5rem;
                                font-size: 1.7rem;
                                font-family: 'Bai Jamjuree', sans-serif;
                            }
                            p{
                                margin-bottom: 0.3rem;
                                font-size: 1.3rem;
                                font-weight: bold;
                                font-family: 'Noto Sans KR', sans-serif;
                                b{
                                    margin-right: 1rem;
                                    text-shadow: 0 0 0px;
                                }
                            }
                        }
                    }    
                }
            }
        }

        &#skills{
            padding: 2rem;
            border-radius: 20% 30% 29% 40%;
            h2{
                &::after{
                    background: #b0bbec;
                }
            }
            div{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 3rem;
                figure{
                    color: #000;
                    img{
                        width: 150px;
                        height: 150px;
                    }
                    figcaption{
                        font-size: 1.3rem;
                        font-weight: bold;
                        text-align: center;
                    }
                    
                    &.html{
                        opacity: 0;
                        transform: translateY(200px);
                    }
                    &.css{
                        opacity: 0;
                        transform: translateY(200px);
                    }
                    &.scss{
                        opacity: 0;
                        transform: translateY(200px);
                    }
                    &.jquery{
                        opacity: 0;
                        transform: translateY(200px);
                    }
                    &.javascript{
                        opacity: 0;
                        transform: translateY(200px);
                    }
                }
            }
        }

        &#portfolio{
            border-radius: 5% 16% 13% 21%;
            h2{
                &::after{
                    background: #cddc39;
                }
            }
            .portfolio_wrap{
                position: relative;
                width: 100%;
                height: 100%;
                padding: 10rem 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-itrems: center;
                gap: 5rem;

                &.on,
                &.on:nth-of-type(even){
                    .portfolio_img{transform: translateX(0); opacity: 1;}
                    .portfolio_text{transform: translateX(0); opacity: 1;}
                }

                &:nth-of-type(even){
                    flex-direction: row-reverse;
                }

                &:hover{
                    .mobile{
                        animation: img_hover 5s linear forwards;
                    }
                    .pc{
                        animation: img_hover 5s linear forwards;
                    }
                    .tablet{
                        animation: img_hover 5s linear forwards;
                    }
                }
                &:hover.pams{
                    .mobile{
                        animation: img_hover 10s linear forwards;
                    }
                    .pc{
                        animation: img_hover 10s linear forwards;
                    }
                    .tablet{
                        animation: img_hover 10s linear forwards;
                    }
                }
                @keyframes img_hover {
                    from{
                        background-position: center top;
                    }
                    to{
                        background-position: center bottom;
                    }
                }

                &.cgv{
                    .portfolio_img{
                        .pc{
                            background: url(../images/cgv_pc1.png)no-repeat;
                            background-position: center top;
                        }
                    }
                }
                &.pams{
                        .portfolio_img{
                            .mobile{
                                background: url(../images/pams_mobile1.png)no-repeat;
                                background-position: center top;
                            }
                            .pc{
                                background: url(../images/pams_pc1.png)no-repeat;
                                background-position: center top;
                            }
                            .tablet{
                                background: url(../images/pams_tablet1.png)no-repeat;
                                background-position: center top;
                            }
                        }    
                }
                &.apple{
                    .portfolio_img{
                        .mobile{
                            background: url(../images/apple_mobile1.png)no-repeat;
                            background-position: center top;
                        }
                        .pc{
                            background: url(../images/apple_pc1.png)no-repeat;
                            background-position: center top;
                        }
                        .tablet{
                            background: url(../images/apple_tablet1.png)no-repeat;
                            background-position: center top;
                        }
                    }
                }
                &.nobrand{
                    .portfolio_img{
                        .pc{
                            animation: unset;
                            background: url(../images/nobrand_pc1.png)no-repeat;
                            background-position: center 5px;
                        }
                    }
                }
                &.pizza{
                    .portfolio_img{
                        .pc{
                            animation: unset;
                            background: url(../images/pizza_pc1.png)no-repeat;
                            background-position: center top;
                            background-size: 92% 97%;
                        }
                    }
                }
                &.system{
                    .portfolio_img{
                        .pc{
                            animation: unset;
                            background: url(../images/system_pc1.png)no-repeat;
                            background-position: center top;
                        }
                    }
                }
                &.leica{
                    .portfolio_img{
                        .mobile{
                            background: url(../images/leica_mobile1.png)no-repeat;
                            background-position: center top;
                        }
                        .pc{
                            background: url(../images/leica_pc1.png)no-repeat;
                            background-position: center top;
                        }
                        .tablet{
                            background: url(../images/leica_tablet1.png)no-repeat;
                            background-position: center top;
                        }
                    }
                }
                &.tottenham{
                    .portfolio_img{
                        .pc{
                            background: url(../images/tottenham_pc1.png)no-repeat;
                            background-position: center top;
                        }
                    }
                }
                &.mc{
                    .portfolio_img{
                        .mobile{
                            background: url(../images/mc_mobile1.png)no-repeat;
                            background-position: center top;
                        }
                        .pc{
                            background: url(../images/mc_pc1.png)no-repeat;
                            background-position: center top;
                        }
                        .tablet{
                            background: url(../images/mc_tablet1.png)no-repeat;
                            background-position: center top;
                        }
                    }
                }
                &.setac{
                    .portfolio_img{
                        .mobile{
                            background: url(../images/setac_mobile1.png)no-repeat;
                            background-position: center top;
                        }
                        .pc{
                            background: url(../images/setac_pc1.png)no-repeat;
                            background-position: center top;
                        }
                        .tablet{
                            background: url(../images/setac_tablet1.png)no-repeat;
                            background-position: center top;
                        }
                    }
                }
                &.nike{
                    .portfolio_img{
                        .mobile{
                            background: url(../images/nike_mobile1.png)no-repeat;
                            background-position: center top;
                        }
                        .pc{
                            background: url(../images/nike_pc1.png)no-repeat;
                            background-position: center top;
                        }
                        .tablet{
                            background: url(../images/nike_tablet1.png)no-repeat;
                            background-position: center top;
                        }
                    }
                }
                &.discovery{
                    .mobile{
                        background: url(../images/discovery_mobile1.png)no-repeat;
                        background-position: center top;
                    }
                    .pc{
                        background: url(../images/discovery_pc1.png)no-repeat;
                        background-position: center top;
                    }
                    .tablet{
                        background: url(../images/discovery_tablet1.png)no-repeat;
                        background-position: center top;
                    }
                }
                &.adidas{
                    .mobile{
                        background: url(../images/adidas_mobile1.png)no-repeat;
                        background-position: center top;
                    }
                    .pc{
                        background: url(../images/adidas_pc1.png)no-repeat;
                        background-position: center top;
                    }
                    .tablet{
                        background: url(../images/adidas_tablet1.png)no-repeat;
                        background-position: center top;
                    }
                }

                &>div{
                    color: tomato;

                    &.portfolio_img{
                        display: flex;
                        transform: translateX(-200px);
                        opacity: 0;
                        transition: .5s;
                        &>div{
                            position: relative;
                            &.mobile{
                                z-index: 1;
                                margin-top: auto;
                            }
                            &.pc{
                                z-index: 2;
                            }
                            &.tablet{
                                z-index: 1;
                                margin-top: auto;
                            }

                            img{
                                width: 100%;
                                height: 100%;
                                vertical-align: bottom
                            }
                        }         
                    }
                    &.portfolio_text{
                        transform: translateX(200px);
                        opacity: 0;
                        transition: .5s;
                        color: #000;
                        strong{
                            display: block;
                            margin-bottom: 1.2rem;
                            font-size: 1.5rem;
                        }
                        p{
                            margin-bottom: 0.5rem;
                            font-weight: bold;
                            color: #ff8707;
                            b{
                                color: #000;
                                font-size: 1.2rem;
                            }
                        }
                        button{
                            position: relative;
                            margin-top: 1.2rem;
                            border: 1px solid #000;
                            border-radius: 5px;
                            background: transparent;
                            overflow: hidden;
                            a{
                                display: block;
                                padding: .5rem 1.7rem;
                                font-size: 1.2rem;
                                font-weight: bold;
                                font-family: 'Noto Sans KR', sans-serif;
                                color: #000;
                            }
                            &:hover{
                                a{
                                    color: #fff;
                                }
                                
                            }
                            &:hover::after{
                                content: "";
                                position: absolute; z-index: -1;
                                top: 0;
                                left: -100%;
                                width: 100%;
                                height: 100%;
                                background: #222;

                                animation: bg .15s linear forwards;
                            }
                            @keyframes bg {
                                to{left: 0;}
                            }
                        }
                    }
                }

                &:nth-of-type(even){
                    .portfolio_img{
                        transform: translateX(200px);
                    }
                    .portfolio_text{
                        transform: translateX(-200px);
                    }
                }
            }
        }

        @keyframes h2 {
            to{
                opacity: 1;
            }
        }
        @keyframes show {
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

footer{
    padding: 1rem;
    background: #fff;
    p{
        padding: 2rem 0;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        word-break: keep-all;

        &#copy{
            padding: 1rem 0;
            font-size: 1rem;
        }
    }
    
}





@media all and (max-width:767px) {

header{
    nav.pc.tablet{
        display: none;
    }
    nav.mobile{
            display: block;
            
        #hamburger{
            position: fixed; z-index: 3;
            right: 1rem;
            top: 1rem;
            width: 28px;
            height: 10px;;
            cursor: pointer;
            span{
                position: absolute;
                width: 100%;
                height: 3px;
                background: #000;
                display: block;
                &:nth-of-type(1){top: 0;}
                &:nth-of-type(2){bottom: 0;}

            }
            &.on{
                span{
                    background-color: #eee;
                    &:nth-of-type(1){animation: hamburger1 .5s linear forwards;}
                    &:nth-of-type(2){animation: hamburger2 .5s linear forwards;}
                }
            }
            @keyframes hamburger1 {
                50%{
                    top: 50%;
                    transform: translateY(-50%);
                }
                100%{
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
            }
            @keyframes hamburger2 {
                50%{
                    top: 50%;
                    transform: translateY(-50%);
                }
                100%{
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
        .mobile_nav{
            display: none;
            position: fixed; z-index: 2;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #222;
            ul{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                li{
                    margin: 1em;
                    color: #eee;
                    text-align: center;
                    font-size: 7vw;
                    font-weight: bold;
                    cursor: pointer;
                    opacity: 0;
                    transform: translateY(50px);
                    transition: .2s;
                    animation: mobile_nav .5s cubic-bezier(0, 0, 0.27, 0.97) forwards;

                    &:hover{
                        color: #fff;
                        text-shadow: 0 0 3px;
                    }

                    &:nth-of-type(1){animation-delay: 1s;}
                    &:nth-of-type(2){animation-delay: 1.3s;}
                    &:nth-of-type(3){animation-delay: 1.6s;}
                    &:nth-of-type(4){animation-delay: 1.9s;}

                    @keyframes mobile_nav {
                        to{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
        .mobile_nav.on{
            display: block;
        }
    }
}
.pc{
    background-size: cover;
}
section{
    article{
        margin: 5rem 1rem;
        padding: 0;

        &#home{
            div{
                p{
                    font-size: 1rem;

                    &:nth-of-type(7){
                        span{
                            &:nth-of-type(2){
                                font-size: 1.5rem;
                            }
                        }
                    }

                    &:nth-of-type(10){
                        span{
                            font-size: 1rem;
                            &:nth-of-type(2){
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

        &#about_me{
            border-radius: 10px;
            &>div{
                gap: 1rem;

                div{
                    &:nth-of-type(2){
                        div{
                            h3{font-size: 1.5rem}
                            p{font-size: 1.1rem;}
                        }
                    }
                }
            }
        }

        &#skills{
            border-radius: 10px;
        }

        &#portfolio{
            border-radius: 10px;
            .portfolio_wrap{
                padding: 5rem 0;
                &>div{
                    &.portfolio_img{
                        &>div{
                            &.pc{
                                background-size: cover !important;
                            }
                            &.tablet{
                                background-size: cover !important;
                            }
                        }
                    }
                    &.portfolio_text{
                        strong{
                            font-size: 1.3rem;
                        }
                        p{
                            b{
                                font-size: 1rem;
                            }
                        }
                        button{
                            margin-top: 0.4rem;
                            a{
                                padding: 0.5rem 1rem;
                                font-size: .9rem;
                            }
                        }
                    }
                }

                @keyframes img_hover {
                    from{
                        background-position: center top;
                    }
                    to{
                        background-position: center top;
                    }
                }
            }
        }
    }
}
footer{
    p{
        font-size: 1rem;

        &#copy{
            font-size: .7rem;
        }
    }
}
}