@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
/*공통*/
* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: #bbb;
}

img {
  border: 0;
}

.hide {
  display: none;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

body {
  position: fixed;
  /*@*/
  width: 100%;
  height: 100%;
  /*@*/
  background: #232323;
  font-family: 'Teko-Medium';
}

.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  -webkit-perspective: 900px;
          perspective: 900px;
  /*원근감*/
  font-family: 'Lato', 'Nanum Gothic', sans-serif;
}

.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #aaa;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.hamburger span:nth-of-type(1) {
  top: 0;
}

.hamburger span:nth-of-type(2) {
  top: 50%;
  margin-top: -2px;
}

.hamburger span:nth-of-type(3) {
  bottom: 0;
}

.hamburger.on span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12.5px;
  background-color: #C0C0C0;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(119, 136, 153, 0.75);
          box-shadow: 0px 0px 5px 2px rgba(119, 136, 153, 0.75);
}

.hamburger.on span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.on span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12.5px;
  background-color: #C0C0C0;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(119, 136, 153, 0.65);
          box-shadow: 0px 0px 5px 2px rgba(119, 136, 153, 0.65);
}

nav {
  position: fixed;
  z-index: 2;
  width: 150px;
  height: 100vh;
  background: #eee;
  opacity: 0;
  -webkit-transform: rotateY(120deg);
          transform: rotateY(120deg);
  /* 120deg */
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

nav.on {
  -webkit-transform: rotateY(30deg);
          transform: rotateY(30deg);
  opacity: 1;
}

nav h1 {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 120px;
  margin-left: -60px;
}

nav h1 img {
  width: 100%;
  height: auto;
}

nav ul {
  position: absolute;
  top: 35%;
  left: 0px;
  width: 100%;
}

nav ul li:hover {
  background: #444;
}

nav ul li:hover a {
  color: #eee;
}

nav ul li a {
  display: block;
  width: 100%;
  line-height: 4;
  font-size: 14px;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section {
  position: fixed;
  /*z-index: 1;*/
  width: 100%;
  height: 100%;
  background: #555;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.on {
  -webkit-transform: rotateY(-10deg);
          transform: rotateY(-10deg);
}

section article.article1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-perspective: 700px;
          perspective: 700px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

section article.article1.on {
  -webkit-box-reflect: below -1px linear-gradient(transparent 0 90%, #eee 105%);
}

section article.article1 > div {
  float: left;
  position: relative;
  height: 33.3333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

section article.article1 > div:nth-of-type(1) {
  width: 50%;
  background: url(../system/div1_img.jpg) no-repeat center;
  background-size: cover;
}

section article.article1 > div:nth-of-type(1) span {
  left: 10px;
  bottom: 10px;
}

section article.article1 > div:nth-of-type(2) {
  width: 25%;
  background: url(../system/div2_img.jpg) no-repeat center;
  background-size: cover;
}

section article.article1 > div:nth-of-type(3) {
  width: 25%;
  background: #fff url(../system/system.gif) no-repeat center;
}

section article.article1 > div:nth-of-type(3) span {
  right: 10px;
  bottom: 10px;
  color: #444;
}

section article.article1 > div:nth-of-type(4) {
  width: 25%;
  background: url(../system/div4_img.jpg) no-repeat center -50px;
  background-size: cover;
}

section article.article1 > div:nth-of-type(5) {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  /*top: 50%; left: 50%;
                    transform: translate(-50%,-50%);*/
  background: url(../system/background_div.jpg) no-repeat center;
  font-family: 'Teko-Medium';
}

section article.article1 > div:nth-of-type(5) div.text_effect {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 573px;
  height: 172px;
  -webkit-perspective: 100px;
          perspective: 100px;
  text-transform: uppercase;
}

section article.article1 > div:nth-of-type(5) div.text_effect p.text {
  position: absolute;
  color: #191919;
  font-size: 150px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #f0f0f0, 1px -1px 0 #f0f0f0, -1px 1px 0 #f0f0f0, 1px 1px 0 #f0f0f0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

section article.article1 > div:nth-of-type(6) {
  width: 25%;
  background: url(../system/div6_img.jpg) no-repeat center;
  background-size: cover;
}

section article.article1 > div:nth-of-type(7) {
  width: 25%;
  background: url(../system/div2331_img.jpg) no-repeat center;
  background-size: cover;
}

section article.article1 > div:nth-of-type(7) span {
  right: 10px;
  top: 10px;
}

section article.article1 > div:nth-of-type(8) {
  width: 25%;
  background: url(../system/video_img.jpg) no-repeat center;
  background-size: cover;
  z-index: 10;
}

section article.article1 > div:nth-of-type(9) {
  width: 50%;
  background: url(../system/div9_img.jpg) no-repeat center top;
  background-size: cover;
}

section article.article1 > div:nth-of-type(9) span {
  right: 10px;
  top: 10px;
}

section article.article1 > div span {
  position: absolute;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

section article.article1 > div.brand, section article.article1 > div.all_store, section article.article1 > div.lookbook, section article.article1 > div.campaign {
  cursor: pointer;
}

section article.article2 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  display: none;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section article.article2 h3 {
  text-align: center;
  padding: 2% 0;
  font-size: 40px;
  border-bottom: 1px solid #bbb;
}

section article.article2 h3 span {
  font-size: 37px;
  display: inline-block;
  padding-left: 34px;
  cursor: pointer;
  background: url(../system/span_img3.png) no-repeat left center;
  display: none;
}

section article.article2 h3 span.on {
  display: inline-block;
}

section article.article2 div.article2_menu {
  position: relative;
  z-index: 1;
  width: 1150px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section article.article2 div.article2_menu > span {
  margin-right: 2%;
  font-size: 14px;
  cursor: pointer;
}

section article.article2 div.article2_menu > span.on {
  font-weight: bold;
}

section article.article2 div.article2_menu > ul {
  display: inline-block;
  margin-left: 3%;
}

section article.article2 div.article2_menu > ul > li {
  height: 40px;
  font-size: 14px;
  padding-right: 14px;
  font-weight: bold;
  cursor: pointer;
  background: url(../system/samgac.png) no-repeat right 52%;
}

section article.article2 div.article2_menu > ul > li > span {
  font-weight: normal;
}

section article.article2 div.article2_menu > ul > li ul {
  position: absolute;
  width: 110px;
  border: 1px solid #ccc;
  background: #fff;
  display: none;
}

section article.article2 div.article2_menu > ul > li ul li {
  font-size: 14px;
  padding-left: 6px;
  color: #777;
  -webkit-transition: .2s;
  transition: .2s;
}

section article.article2 div.article2_menu > ul > li ul li:hover {
  color: #000;
}

section article.article2 div.article2_menu p.seset {
  display: inline-block;
  margin-left: 2%;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

section article.article2 div.article2_menu p.seset:hover {
  text-decoration: underline;
}

section article.article2 div.article2_menu p.sale {
  display: inline-block;
  margin-left: 5%;
  font-size: 15px;
  color: #e03b3b;
}

section article.article2 div.article2_menu p.delivery {
  display: inline-block;
  margin-left: 2%;
  font-size: 15px;
  color: #ce9b0c;
}

section article.article2 div.article2_menu div.count {
  display: inline-block;
  float: right;
  font-size: 14px;
}

section article.article2 div.article2_menu div.count span.dress_count {
  font-size: 16px;
  font-weight: bold;
  color: #bd900f;
  padding-right: 3px;
}

section article.article2 div.article2_menu div.search {
  display: inline-block;
  display: none;
}

section article.article2 div.article2_menu div.search.on {
  display: inline-block;
}

section article.article2 div.article2_menu div.search_img {
  display: inline-block;
  margin-left: 14.832%;
  background: url(../system/search.png) no-repeat center;
  cursor: pointer;
}

section article.article2 div.article2_menu div.search_img.on {
  margin-left: 0;
}

section article.article2 div.article2_menu div.search_img span {
  display: inline-block;
  width: 23px;
  height: 23px;
}

section article.article2 div.article2_menu div.basket {
  display: inline-block;
  background: url(../system/heart_border.png) no-repeat left center;
  padding-left: 15px;
  font-size: 14px;
}

section article.article2 div.article2_menu div.basket span.shopping_basket {
  font-size: 14px;
  font-weight: bold;
  color: #bd900f;
}

section article.article2 div.dress {
  position: relative;
  width: 1150px;
  height: 73vh;
  margin: 0 auto;
  margin-top: 5px;
}

section article.article2 div.dress div.dress_contents {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

section article.article2 div.dress div.dress_contents > ul {
  display: none;
  position: relative;
  height: 100%;
}

section article.article2 div.dress div.dress_contents > ul.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section article.article2 div.dress div.dress_contents > ul li {
  position: relative;
  width: 24%;
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #aaa;
  -webkit-transition: .2s;
  transition: .2s;
}

section article.article2 div.dress div.dress_contents > ul li:hover {
  border: 1px solid #555;
}

section article.article2 div.dress div.dress_contents > ul li p {
  position: relative;
}

section article.article2 div.dress div.dress_contents > ul li p:hover {
  -webkit-transition: .2s;
  transition: .2s;
}

section article.article2 div.dress div.dress_contents > ul li p span.heart {
  display: block;
  float: right;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: url(../system/heart_black.png) no-repeat center;
}

section article.article2 div.dress div.dress_contents > ul li p span.heart.on {
  background: url(../system/heart_red.png) no-repeat center;
}

section article.article2 div.dress div.dress_contents > ul li p span.size {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

section article.article2 div.dress div.dress_contents > ul li p span.size.on {
  display: block;
}

section article.article2 div.dress div.dress_contents > ul li > span {
  display: block;
  height: 5%;
  font-size: .85vw;
}

section article.article2 div.dress div.dress_contents > ul li > span:nth-of-type(1) {
  font-size: 16px;
  font-weight: bold;
}

section article.article2 div.dress div.dress_contents > ul li > span:nth-of-type(4) {
  color: #a36944;
}

section article.article2 div.dress div.dress_contents > ul li > span:nth-of-type(5) {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 15px;
}

section article.article2 div.dress > p.article2_prev_btn {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-left: 3px solid #777;
  border-bottom: 3px solid #777;
  cursor: pointer;
}

section article.article2 div.dress > p.article2_right_btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 30px;
  height: 30px;
  border-right: 3px solid #777;
  border-bottom: 3px solid #777;
  cursor: pointer;
}

section article.article3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  display: none;
}

section article.article3 h3 {
  padding: 2% 0;
  font-size: 33px;
  text-align: center;
}

section article.article3 div.article3_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section article.article3 div.article3_contents p.events {
  width: 1090px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: right;
}

section article.article3 div.article3_contents p.events span {
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}

section article.article3 div.article3_contents p.events span.on {
  font-weight: bold;
}

section article.article3 div.article3_contents p.events span:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 10px;
  background: #000;
  cursor: none;
}

section article.article3 div.article3_contents p.events span:last-child {
  padding-left: 5px;
}

section article.article3 div.article3_contents div.ongoing_event, section article.article3 div.article3_contents div.past_event {
  position: relative;
  width: 1090px;
  margin: 0 auto;
}

section article.article3 div.article3_contents div.ongoing_event div, section article.article3 div.article3_contents div.past_event div {
  display: none;
}

section article.article3 div.article3_contents div.ongoing_event div.on, section article.article3 div.article3_contents div.past_event div.on {
  display: block;
}

section article.article3 div.article3_contents div.ongoing_event div.on_events, section article.article3 div.article3_contents div.ongoing_event div.off_events, section article.article3 div.article3_contents div.past_event div.on_events, section article.article3 div.article3_contents div.past_event div.off_events {
  position: relative;
  height: 432px;
}

section article.article3 div.article3_contents div.ongoing_event div.on_events p, section article.article3 div.article3_contents div.ongoing_event div.off_events p, section article.article3 div.article3_contents div.past_event div.on_events p, section article.article3 div.article3_contents div.past_event div.off_events p {
  float: left;
  width: 49%;
  height: 205px;
  margin-top: 1%;
  margin-right: 1%;
  border: 1px solid #bbb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
  cursor: pointer;
}

section article.article3 div.article3_contents div.ongoing_event div.on_events p:hover, section article.article3 div.article3_contents div.ongoing_event div.off_events p:hover, section article.article3 div.article3_contents div.past_event div.on_events p:hover, section article.article3 div.article3_contents div.past_event div.off_events p:hover {
  border: 1px solid #888;
}

section article.article3 div.article3_contents div.ongoing_event div.on_events p:nth-of-type(2n), section article.article3 div.article3_contents div.ongoing_event div.off_events p:nth-of-type(2n), section article.article3 div.article3_contents div.past_event div.on_events p:nth-of-type(2n), section article.article3 div.article3_contents div.past_event div.off_events p:nth-of-type(2n) {
  margin-right: 0px;
}

section article.article3 div.article3_contents div.ongoing_event div.on_events p img, section article.article3 div.article3_contents div.ongoing_event div.off_events p img, section article.article3 div.article3_contents div.past_event div.on_events p img, section article.article3 div.article3_contents div.past_event div.off_events p img {
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

section article.article3 div.article3_contents div.ongoing_event div.on_events p img:hover, section article.article3 div.article3_contents div.ongoing_event div.off_events p img:hover, section article.article3 div.article3_contents div.past_event div.on_events p img:hover, section article.article3 div.article3_contents div.past_event div.off_events p img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

section article.article3 div.article3_contents div .number {
  text-align: center;
  padding-top: 15px;
}

section article.article3 div.article3_contents div .number span {
  padding: 0 2px;
  font-size: 16px;
  cursor: pointer;
}

section article.article3 div.article3_contents div .number span.on {
  font-weight: bold;
}

section article.article3 div.article3_contents div .number span.span {
  font-size: 22px;
}

section article.article3 div div {
  display: none;
}

section article.article3 div div.on {
  display: block;
}

section article.article4 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  display: none;
}

section article.article4 h3 {
  font-size: 30px;
  padding: 2% 0 0 0;
  text-align: center;
}

section article.article4 div.sign_up {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1000px;
  height: 436px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #777;
}

section article.article4 div.sign_up > div {
  float: left;
  height: 435px;
}

section article.article4 div.sign_up > div.login {
  width: 50%;
  padding: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #bbb;
}

section article.article4 div.sign_up > div.login span.login_title {
  display: block;
  padding-bottom: 3%;
  font-size: 18px;
  font-weight: bold;
}

section article.article4 div.sign_up > div.login input[type="text"], section article.article4 div.sign_up > div.login input[type="password"] {
  width: 100%;
  height: 32px;
  padding-left: 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section article.article4 div.sign_up > div.login input.login_password {
  margin-bottom: 2%;
  font-size: 14px;
}

section article.article4 div.sign_up > div.login input#login_checkbox {
  margin-bottom: 15px;
}

section article.article4 div.sign_up > div.login input.login_text {
  margin-bottom: 2%;
  font-size: 14px;
}

section article.article4 div.sign_up > div.login > button {
  width: 100%;
  height: 37px;
  margin-bottom: 2%;
  font-size: 15px;
  border-radius: 2px;
  color: #fff;
  background-color: #444;
  cursor: pointer;
  outline: none;
  border: none;
}

section article.article4 div.sign_up > div.login > p {
  width: 100%;
  margin-bottom: 5%;
}

section article.article4 div.sign_up > div.login > p > span {
  display: inline-block;
  width: 47%;
  padding: 13px 0;
  margin-right: 26px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bbb;
}

section article.article4 div.sign_up > div.login > p > span:last-child {
  margin-right: 0;
}

section article.article4 div.sign_up > div.login > p > span:hover {
  text-decoration: underline;
}

section article.article4 div.sign_up > div.login div.login_forget {
  padding-top: 5%;
  border-top: 1px solid #bbb;
}

section article.article4 div.sign_up > div.login div.login_forget p {
  margin-bottom: 6px;
  font-size: 14px;
}

section article.article4 div.sign_up > div.login div.login_forget p:nth-of-type(2) {
  margin-top: 20px;
}

section article.article4 div.sign_up > div.login div.login_forget button {
  padding: 4px;
  margin-left: 7px;
  font-size: 11px;
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

section article.article4 div.sign_up > div.login div.login_forget button:hover {
  border: 1px solid #555;
}

section article.article4 div.sign_up > div.point {
  width: 50%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section article.article4 div.sign_up > div.point span.point_title {
  display: block;
  margin-bottom: 2%;
  font-size: 18px;
  font-weight: bold;
}

section article.article4 div.sign_up > div.point span:nth-of-type(3) {
  margin-top: 5%;
}

section article.article4 div.sign_up > div.point span.point_text {
  font-size: 13px;
  line-height: 1.2em;
}

section article.article4 div.sign_up > div.point span span.point_color_text {
  color: #2756bf;
}

section article.article4 div.sign_up > div.point button.point_member {
  display: block;
  width: 100%;
  height: 35px;
  margin-top: 2%;
  border-radius: 2px;
  background-color: #444;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  border: none;
  outline: none;
}

section article.on {
  z-index: 1;
  display: block;
  opacity: 1;
}

section article.on.article2, section article.on.article3, section article.on.article4 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-animation: rotate 1.5s;
          animation: rotate 1.5s;
}

section article.on > div {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

section > div.article1_1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  display: none;
}

section > div.article1_1.on {
  display: block;
  z-index: 3;
}

section > div.article1_1 > h2 {
  padding: 1.5% 0;
  text-align: center;
  font-size: 30px;
  color: #333;
}

section > div.article1_1 div:nth-of-type(1) {
  position: relative;
  width: 100%;
  max-width: 1090px;
  height: 45vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../system/article2_img.jpg) no-repeat center;
  background-size: contain;
  -webkit-animation: op1 2.5s linear;
          animation: op1 2.5s linear;
}

@-webkit-keyframes op1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes op1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section > div.article1_1 div:nth-of-type(2) {
  position: relative;
  max-width: 969px;
  margin: 0 auto;
  -webkit-animation: op2 3.5s linear;
          animation: op2 3.5s linear;
}

section > div.article1_1 div:nth-of-type(2) h3 {
  padding: 2% 0;
  font-size: 32px;
}

section > div.article1_1 div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 22px;
}

section > div.article1_1 div:nth-of-type(2) p:nth-of-type(2) {
  padding: 15px 0;
  font-size: 18px;
}

section > div.article1_1 div:nth-of-type(2) p:nth-of-type(3) {
  font-size: 18px;
}

@-webkit-keyframes op2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes op2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section > div.article1_2 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  display: none;
}

section > div.article1_2.on {
  display: block;
  z-index: 3;
}

section > div.article1_2 > h3 {
  text-align: center;
  padding: 1% 0 0 0;
  font-size: 30px;
  color: #444;
}

section > div.article1_2 > div {
  position: absolute;
  width: 1000px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section > div.article1_2 > div div.store {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 1090px;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > div.article1_2 > div div.store p {
  float: left;
  padding: 1% 2%;
  height: 35px;
  font-size: 12px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > div.article1_2 > div div.store p:nth-of-type(1) {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

section > div.article1_2 > div div.store p:nth-of-type(2) {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

section > div.article1_2 > div div.store p.on {
  font-weight: bold;
  background: #fff;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: none;
}

section > div.article1_2 > div div.choice {
  position: relative;
  width: 100%;
  max-width: 1090px;
  height: 27px;
  margin: 0 auto;
  padding: .5% 0;
}

section > div.article1_2 > div div.choice select.area, section > div.article1_2 > div div.choice select.spot {
  width: 145px;
  height: 27px;
  font-size: 14px;
}

section > div.article1_2 > div div.choice input.input_text {
  width: 300px;
  height: 23px;
  font-size: 14px;
}

section > div.article1_2 > div div.choice input.input_button {
  color: #fff;
  background-color: #777;
  width: 90px;
  height: 27px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  border: none;
}

section > div.article1_2 > div div.choice input.input_button:hover {
  background-color: #444;
}

section > div.article1_2 > div div.table {
  position: relative;
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  display: none;
}

section > div.article1_2 > div div.table.on {
  display: block;
}

section > div.article1_2 > div div.table table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

section > div.article1_2 > div div.table table thead tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > div.article1_2 > div div.table table thead tr th {
  height: 35px;
  font-size: 13px;
}

section > div.article1_2 > div div.table table tbody tr td {
  padding: 1% 0;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}

section > div.article1_2 > div div.table table tbody tr td:nth-of-type(1) {
  padding-left: 3%;
}

section > div.article1_2 > div div.table table tbody tr td:nth-of-type(3), section > div.article1_2 > div div.table table tbody tr td:nth-of-type(4) {
  text-align: center;
}

section > div.article1_2 > div div.table > p.number {
  padding-top: 1%;
  text-align: center;
}

section > div.article1_2 > div div.table > p.number span {
  padding: 0 2px;
  font-size: 16px;
  cursor: pointer;
}

section > div.article1_2 > div div.table > p.number span.span {
  font-size: 22px;
}

section > div.article1_2 > div div.table > p.number span.on {
  font-weight: bold;
}

section > div.article1_3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  display: none;
}

section > div.article1_3.on {
  display: block;
  z-index: 3;
}

section > div.article1_3 h3 {
  text-align: center;
  padding: 1% 0 0 0;
  font-size: 30px;
  color: #444;
}

section > div.article1_3 > div.article1_3_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section > div.article1_3 > div.article1_3_contents > ul {
  position: relative;
  z-index: 33;
  width: 1000px;
  height: 37px;
  margin: 0 auto;
}

section > div.article1_3 > div.article1_3_contents > ul > li {
  position: absolute;
  right: 0;
  /*border: 1px solid black;*/
  background: url(../system/samgac.png) no-repeat right center;
}

section > div.article1_3 > div.article1_3_contents > ul > li:nth-of-type(1) {
  right: 185px;
}

section > div.article1_3 > div.article1_3_contents > ul > li:nth-of-type(2) .sub_ul {
  margin-left: -57px;
}

section > div.article1_3 > div.article1_3_contents > ul > li > a {
  display: block;
  padding: 10px 15px 10px 0;
  font-size: 15px;
  color: #000;
}

section > div.article1_3 > div.article1_3_contents > ul > li ul.sub_ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000;
  position: absolute;
  width: 170px;
  margin-left: -34px;
  background: #fff;
  display: none;
}

section > div.article1_3 > div.article1_3_contents > ul > li ul.sub_ul li a {
  display: block;
  padding: 4px 5px;
  color: #444;
  font-size: 14px;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p {
  width: 24%;
  margin-bottom: 1.5%;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:hover {
  border: 1px solid #888;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(4), section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:last-child {
  margin-right: 0;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(1) span:nth-of-type(1) {
  background: url(../system/lookbook_img1.jpg) no-repeat center -20px;
  background-size: cover;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(2) span:nth-of-type(1) {
  background: url(../system/lookbook_img2.jpg) no-repeat center -30px;
  background-size: cover;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(3) span:nth-of-type(1) {
  background: url(../system/lookbook_img3.jpg) no-repeat center -30px;
  background-size: cover;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(4) span:nth-of-type(1) {
  background: url(../system/lookbook_img4.jpg) no-repeat center -20px;
  background-size: cover;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(5) span:nth-of-type(1) {
  background: url(../system/lookbook_img5.jpg) no-repeat center -20px;
  background-size: cover;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(6) span:nth-of-type(1) {
  background: url(../system/lookbook_img6.jpg) no-repeat center -10px;
  background-size: cover;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(7) span:nth-of-type(1) {
  background: url(../system/lookbook_img7.jpg) no-repeat center -30px;
  background-size: cover;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p:nth-of-type(8) span:nth-of-type(1) {
  background: url(../system/lookbook_img8.jpg) no-repeat center -5px;
  background-size: cover;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p > span:nth-of-type(1) {
  display: block;
  height: 27vh;
  background: #aaa;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p > span:nth-of-type(2) {
  display: block;
  padding: 3% 2% 0;
}

section > div.article1_3 > div.article1_3_contents > div.lookbook_contens p > span:nth-of-type(3) {
  font-size: 13px;
  display: block;
  padding: 3% 2%;
}

section > div.article1_3 > div.article1_3_contents > p.number {
  width: 100%;
  text-align: center;
}

section > div.article1_3 > div.article1_3_contents > p.number span {
  font-size: 16px;
  padding: 0 2px;
  cursor: pointer;
}

section > div.article1_3 > div.article1_3_contents > p.number span.span {
  font-size: 22px;
}

section > div.article1_3 > div.article1_3_contents > p.number span.on {
  font-weight: bold;
}

section > div.article1_4 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  display: none;
}

section > div.article1_4.on {
  display: block;
  z-index: 3;
}

section > div.article1_4 h3 {
  text-align: center;
  padding: 1% 0 0 0;
  font-size: 30px;
  color: #444;
}

section > div.article1_4 > div.article1_4_contents {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p {
  width: 24%;
  margin-bottom: 1.5%;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:hover {
  border: 1px solid #888;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(4), section > div.article1_4 > div.article1_4_contents div.campaign_contens p:last-child {
  margin-right: 0;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p span:nth-of-type(1) {
  display: block;
  height: 33vh;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p span:nth-of-type(2) {
  display: block;
  width: 100%;
  padding: 3% 2%;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(1) span:nth-of-type(1) {
  background: url(../system/campaign_img1.jpg) no-repeat center;
  background-size: cover;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(2) span:nth-of-type(1) {
  background: url(../system/campaign_img2.jpg) no-repeat center top;
  background-size: cover;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(3) span:nth-of-type(1) {
  background: url(../system/campaign_img3.jpg) no-repeat center top;
  background-size: cover;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(4) span:nth-of-type(1) {
  background: url(../system/campaign_img4.jpg) no-repeat center bottom;
  background-size: cover;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(5) span:nth-of-type(1) {
  background: url(../system/campaign_img5.jpg) no-repeat center;
  background-size: cover;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(6) span:nth-of-type(1) {
  background: url(../system/campaign_img6.jpg) no-repeat center bottom;
  background-size: cover;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(7) span:nth-of-type(1) {
  background: url(../system/campaign_img7.jpg) no-repeat center top;
  background-size: cover;
}

section > div.article1_4 > div.article1_4_contents div.campaign_contens p:nth-of-type(8) span:nth-of-type(1) {
  background: url(../system/campaign_img8.jpg) no-repeat center;
  background-size: cover;
}

section > div.article1_4 > div.article1_4_contents > p.number {
  width: 100%;
  text-align: center;
}

section > div.article1_4 > div.article1_4_contents > p.number span {
  font-size: 16px;
  padding: 0 2px;
  cursor: pointer;
}

section > div.article1_4 > div.article1_4_contents > p.number span.span {
  font-size: 22px;
}

section > div.article1_4 > div.article1_4_contents > p.number span.on {
  font-weight: bold;
}
/*# sourceMappingURL=system_style.css.map */