@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
/*common*/
* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'NanumSquare', sans-serif;
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*헤더*/
/*헤더*/
/*헤더*/
/*헤더*/
header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #222;
}

header nav {
  position: relative;
  z-index: 3;
  max-width: 1020px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background: #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*검색 버튼 눌렀을 때 나오는 css*/
  /*장바구니 click시 나오는 css*/
  /*장바구니 click시 나오는 css*/
}

header nav > ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 50px;
}

header nav > ul > li {
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav > ul > li:hover {
  opacity: 1;
}

header nav > ul > li a {
  font-size: 15px;
  line-height: 45px;
  color: #fff;
}

header nav > ul > li a i {
  display: inline-block;
  font-size: 27px;
  line-height: 52px;
}

header nav > ul > li .uil-search,
header nav > ul > li .uil-shopping-bag {
  font-size: 24px;
  line-height: 52px;
}

header nav > ul > li.nav_basket.hide {
  position: relative;
  z-index: -1;
  opacity: 0;
}

header nav > ul > li.nav_hamburger {
  display: none;
}

header nav .search_input {
  display: none;
}

header nav .search_input.on {
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  height: 100%;
  padding: 0 10px;
  background: #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: search_input 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
          animation: search_input 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

@-webkit-keyframes search_input {
  0% {
    width: 0%;
    display: block;
    opacity: 0;
  }
  100% {
    width: 100%;
    display: block;
    opacity: 1;
  }
}

@keyframes search_input {
  0% {
    width: 0%;
    display: block;
    opacity: 0;
  }
  100% {
    width: 100%;
    display: block;
    opacity: 1;
  }
}

header nav .search_input span:first-child {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

header nav .search_input span:last-child {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

header nav .search_input span.search_close {
  cursor: pointer;
}

header nav .search_input span i {
  font-size: 24px;
  color: #eee;
  line-height: 20px;
}

header nav .search_input input#input {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 92%;
  height: 60%;
  padding-left: 13px;
  font-size: 17px;
  background: #222;
  color: #eee;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav .search_input input::-webkit-input-placeholder {
  color: #eee;
}

header nav .search_input input:-ms-input-placeholder {
  color: #eee;
}

header nav .search_input input::-ms-input-placeholder {
  color: #eee;
}

header nav .search_input input::placeholder {
  color: #eee;
}

header nav .fast_link {
  display: none;
  position: relative;
  width: 100%;
  height: 260px;
  background: #eee;
  color: #444;
  border-radius: 0 0 10px 10px;
}

header nav .fast_link.on {
  display: block;
}

header nav .fast_link > ul {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 25px 50px 0 50px;
  color: #636363;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav .fast_link > ul > li {
  font-size: 13px;
  font-weight: bold;
  -webkit-animation: fast_link_li 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
          animation: fast_link_li 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

header nav .fast_link > ul > li > ul {
  padding: 20px 0 0 0;
  font-weight: normal;
}

header nav .fast_link > ul > li > ul > li {
  padding: 5px 0 5px 20px;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  -webkit-animation: fast_link_li 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
          animation: fast_link_li 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

header nav .fast_link > ul > li > ul > li:hover {
  background: #e0e0e0;
  color: #30b364;
  border-radius: 4px;
  text-shadow: 0 0 1px;
}

header nav .fast_link > ul > li > ul > li:nth-of-type(1) {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

header nav .fast_link > ul > li > ul > li:nth-of-type(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

header nav .fast_link > ul > li > ul > li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

header nav .fast_link > ul > li > ul > li:nth-of-type(4) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

header nav .fast_link > ul > li > ul > li:nth-of-type(5) {
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@-webkit-keyframes fast_link_li {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fast_link_li {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

header nav .shopping_basket {
  position: absolute;
  right: 0;
  width: 270px;
  height: 280px;
  margin-top: 4px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 7px;
  background: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

header .mobile_nav {
  display: none;
}

/*장바구니 click시 나오는 css*/
/*장바구니 click시 나오는 css*/
.shopping_basket {
  position: absolute;
  right: 0;
  width: 270px;
  height: 280px;
  margin-top: 4px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 7px;
  background: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.shopping_basket::before {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;
  top: -6px;
  right: 15px;
  width: 10px;
  height: 10px;
  background: #eee;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

.shopping_basket p {
  padding: 10px 0 25px 0;
  font-size: 13px;
  border-bottom: 1px solid #cdcdcd;
  text-align: center;
}

.shopping_basket ul {
  margin-top: 10px;
  color: #32b366;
}

.shopping_basket ul li {
  font-size: 13px;
  margin: 14px 0;
  cursor: pointer;
}

.shopping_basket ul li span:hover {
  text-decoration: underline;
}

.shopping_basket ul li i {
  padding-right: 8px;
  font-size: 17px;
}

/*컨텐츠*/
/*컨텐츠*/
/*컨텐츠*/
/*컨텐츠*/
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
  -ms-grid-rows: (1fr)[16];
      grid-template-rows: repeat(16, 1fr);
  grid-gap: 10px;
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section article {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  word-break: keep-all;
  color: #fff;
}

section article.airpobs_max {
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/17;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  background: #eee;
}

section article.airpobs_max ul {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 85%;
}

section article.airpobs_max ul li {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

section article.airpobs_max ul li:nth-of-type(1) {
  display: block;
  background: url(../images/airpobs_max_white.png) no-repeat center;
  background-size: contain;
}

section article.airpobs_max ul li:nth-of-type(2) {
  background: url(../images/airpobs_max_blue.png) no-repeat center;
  background-size: contain;
}

section article.airpobs_max ul li:nth-of-type(3) {
  background: url(../images/airpobs_max_mint.png) no-repeat center;
  background-size: contain;
}

section article.airpobs_max ul li:nth-of-type(4) {
  background: url(../images/airpobs_max_pink.png) no-repeat center;
  background-size: contain;
}

section article.airpobs_max ul li:nth-of-type(5) {
  background: url(../images/airpobs_max_black.png) no-repeat center;
  background-size: contain;
}

section article.airpobs_max h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  font-size: 8.5vw;
  color: #8c8c8c;
  font-family: 'unicons-line';
  text-shadow: 0 0 12px;
  text-align: center;
}

section article.airpobs_max p {
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section article.airpobs_max p span:first-child {
  margin-right: 20px;
  padding: 4px 8px;
  background: #3e90e4;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

section article.airpobs_max p span:first-child:hover {
  text-decoration: underline;
}

section article.airpobs_max p span:last-child {
  color: #2487ec;
  cursor: pointer;
}

section article.airpobs_max p span:last-child:hover {
  text-decoration: underline;
}

section article.airpobs_pro {
  -ms-grid-column: 17;
  -ms-grid-column-span: 4;
  grid-column: 17/21;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  background: #000;
}

section article.airpobs_pro div:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background: url(../images/music_airpods_pro.jpg) no-repeat center;
  background-size: 80% 100%;
}

section article.airpobs_pro div:nth-of-type(2) {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

section article.airpobs {
  -ms-grid-column: 21;
  -ms-grid-column-span: 4;
  grid-column: 21/25;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  background: #fafafa;
}

section article.airpobs div:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background: url(../images/music_airpods.jpg) no-repeat center;
  background-size: 80% 100%;
}

section article.airpobs div:nth-of-type(2) {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
}

section article.ipod_touch {
  -ms-grid-column: 17;
  -ms-grid-column-span: 4;
  grid-column: 17/21;
  -ms-grid-row: 10;
  -ms-grid-row-span: 7;
  grid-row: 10/17;
  background: #fafafa;
}

section article.ipod_touch div:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56%;
  background: url(../images/ipod_touch.jpg) no-repeat center;
  background-size: contain;
}

section article.ipod_touch div:nth-of-type(2) {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #000;
}

section article.music_as {
  -ms-grid-column: 21;
  -ms-grid-column-span: 4;
  grid-column: 21/25;
  -ms-grid-row: 10;
  -ms-grid-row-span: 7;
  grid-row: 10/17;
  background: #fafafa;
}

section article.music_as div:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56%;
  background: url(../images/music_as.jpg) no-repeat center;
  background-size: contain;
}

section article.music_as div:nth-of-type(2) {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #000;
}

section article.music_as div:nth-of-type(2) p {
  display: inline-block;
  font-size: 0.8vw;
  color: #2487ec;
  cursor: pointer;
}

section article.music_as div:nth-of-type(2) p:hover {
  text-decoration: underline;
}

section article.apple_music_app {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  -ms-grid-row: 10;
  -ms-grid-row-span: 7;
  grid-row: 10/17;
  background: #1c1c1c;
}

section article.apple_music_app div {
  position: absolute;
  top: 17%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 52%;
  background: url(../images/apple_music_app.jpg) no-repeat center;
  background-size: cover;
}

section article.apple_music_app h3 {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.3vw;
}

section article.apple_music_app ul {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section article.apple_music_app ul li {
  position: relative;
  text-align: center;
}

section article.apple_music_app ul li p:nth-of-type(1) img {
  width: 50%;
}

section article.apple_music_app ul li p:nth-of-type(2) {
  margin: 3% 0 5% 0;
  font-size: .8vw;
  font-weight: bold;
}

section article.apple_music_app ul li p:nth-of-type(3) {
  font-size: 0.8vw;
  color: #2487ec;
  cursor: pointer;
}

section article.apple_music_app ul li p:nth-of-type(3):hover {
  text-decoration: underline;
}

section article.apple_music {
  -ms-grid-column: 12;
  -ms-grid-column-span: 5;
  grid-column: 12/17;
  -ms-grid-row: 10;
  -ms-grid-row-span: 7;
  grid-row: 10/17;
}

section article.apple_music p {
  position: absolute;
  width: 100%;
  height: 100%;
}

section article.apple_music p video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

section article .article_h3 {
  margin-bottom: 10px;
  font-size: 1vw;
}

section article .article_strong {
  display: block;
  margin-bottom: 8%;
  font-size: 1.3vw;
}

section article .article_p {
  font-size: 0.8vw;
}

section article .article_p span.p_span1 {
  margin-right: 20px;
  padding: 3px 7px;
  background: #3e90e4;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

section article .article_p span.p_span1:hover {
  background: #267ed8;
}

section article .article_p span.p_span2 {
  color: #2487ec;
  cursor: pointer;
}

section article .article_p span.p_span2:hover {
  text-decoration: underline;
}

/*footer*/
/*footer*/
/*footer*/
footer {
  display: none;
}

/*미디어 쿼리 모바일 버전*/
/*미디어 쿼리 모바일 버전*/
/*미디어 쿼리 모바일 버전*/
@media (max-width: 769px) {
  #wrap {
    height: auto;
  }
  /*네비게이션*/
  /*네비게이션*/
  /*네비게이션*/
  nav > ul > li {
    display: none;
  }
  .nav_icon {
    display: block;
  }
  /*모바일: 햄버거 버튼, 애플 로고, 장바구니(BLOCK)*/
  .nav_hamburger {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    height: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .nav_hamburger > span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav_hamburger > span:last-child {
    bottom: 0;
  }
  .nav_hamburger.on > span {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .nav_hamburger.on > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav_hamburger.on > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .mobile_nav {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #222;
    padding-top: 50px;
    /* padding: 50px 10px 0 10px; */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mobile_nav > p {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #454545;
  }
  .mobile_nav > p > i {
    position: absolute;
    z-index: 3;
    top: 3px;
    left: 2.5%;
    line-height: 32px;
    font-size: 20px;
    color: #868686;
  }
  .mobile_nav > p > input {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 96%;
    height: 35px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    background: #4a4a4a;
    border-radius: 6px;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mobile_nav > ul {
    position: relative;
    width: 88%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 10px;
  }
  .mobile_nav > ul > li > a {
    display: block;
    padding: 10px 0;
    font-size: 17px;
    border-bottom: 1px solid #454545;
    color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .mobile_nav > ul > li > a:hover {
    color: #fff;
  }
  .mobile_nav > ul > li:last-child > a {
    border-bottom: none;
  }
  .search_input,
  .fast_link {
    display: none;
  }
  /*모바일 장바구니*/
  /*모바일 장바구니*/
  .shopping_basket {
    width: 100%;
    margin-top: 0;
    border: none;
    border-radius: 0;
  }
  /*컨텐츠*/
  /*컨텐츠*/
  /*컨텐츠*/
  section {
    height: auto;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 300px (500px)[5] 1150px;
        grid-template-rows: 300px repeat(5, 500px) 1150px;
  }
  section article {
    border-radius: 0;
  }
  section article.airpobs_max {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background: #fff;
  }
  section article.airpobs_max h3 {
    top: 8%;
    font-size: 40px;
  }
  section article.airpobs_max p {
    bottom: unset;
    top: 18%;
    width: 100%;
    text-align: center;
  }
  section article.airpobs_max ul {
    top: 20%;
    width: 65%;
  }
  section article.airpobs_pro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  section article.airpobs_pro div:nth-of-type(1) {
    background-size: 55% 100%;
  }
  section article.airpobs_pro div:nth-of-type(2) {
    top: 20%;
  }
  section article.airpobs {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  section article.airpobs div:nth-of-type(2) p {
    font-size: 16px;
  }
  section article.ipod_touch {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  section article.music_as {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  section article.music_as div:nth-of-type(2) p {
    font-size: 16px;
  }
  section article.apple_music_app {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  section article.apple_music_app h3 {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
  section article.apple_music_app div {
    height: 21%;
  }
  section article.apple_music_app ul {
    height: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5%;
  }
  section article.apple_music_app ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10%;
  }
  section article.apple_music_app ul li p:nth-of-type(1) img {
    width: 13%;
  }
  section article.apple_music_app ul li p:nth-of-type(2) {
    margin: 0;
    font-size: 20px;
  }
  section article.apple_music_app ul li p:nth-of-type(3) {
    display: inline-block;
    font-size: 16px;
  }
  section article.apple_music {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  section article .article_h3 {
    font-size: 20px;
  }
  section article .article_strong {
    font-size: 28px;
  }
  section article .article_p {
    font-size: 16px;
  }
  /*푸터*/
  /*푸터*/
  /*푸터*/
  footer {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding: 0 15px;
    color: #666;
    background: #fff;
    font-size: 11px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /*footer 공통*/
  }
  footer p:first-child {
    margin-bottom: 20px;
    padding-top: 15px;
    font-size: 12px;
    line-height: 1.5em;
  }
  footer .footer_nav {
    margin-bottom: 15px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
  }
  footer .footer_nav > ul {
    position: relative;
    width: 100%;
  }
  footer .footer_nav > ul > li {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  footer .footer_nav > ul > li span {
    position: absolute;
    right: 5px;
    width: 16px;
    height: 16px;
    background: url(../images/bottom_arrow.png) no-repeat center;
    background-size: cover;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  footer .footer_nav > ul > li ul {
    display: none;
    padding-top: 10px;
  }
  footer .footer_nav > ul > li ul li {
    padding: 6px 15px;
    font-size: 11px;
  }
  footer .site_number {
    margin-bottom: 15px;
    font-size: 11px;
  }
  footer .site_number span {
    color: #30b364;
    cursor: pointer;
  }
  footer .copyright {
    margin-bottom: 15px;
  }
  footer .law {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .law span {
    cursor: pointer;
  }
  footer .address {
    padding-bottom: 15px;
  }
  footer .footer_nav > ul > li > ul > li:hover,
  footer footer > .site_number > span:hover,
  footer footer > .law > span:hover {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=music.css.map */