@charset "utf-8";

*{margin: 0; padding: 0;}
ol,ul,li{text-decoration: none; list-style: none;}
a{outline: 0; text-decoration:none; color: #000;}
img{max-width: 100%; height: auto;}


body{/*scrollbar-width: none;*/ background: #eee;}
::-webkit-scrollbar { 
    width: 0px;
}
.hide{display: none;}

#wrap{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Red Hat Mono', 'Nanum Gothic', monospace , sans-serif;
}

/*헤더*/
header{
	h1{
        position: fixed; z-index: 5;
        left: 50%;
        top: 3%;
        transform: translateX(-50%);
        text-align: center;
        color: #eee;
        transition: .3s;

        span{
            transition: .5s;

            &:nth-of-type(1){
                display: block;
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 3px;
            }
            &:nth-of-type(2){
                display: block;
                font-size: 25px;
                letter-spacing: 3px;
                opacity: 0;
                transform: translateY(5px);
                background: url(../images/logo.png) no-repeat center;
                background-size: cover;
                width: 60px;
                height: 60px;
                margin: 0 auto;
            }
        }

        &.on{
            span{
                &:nth-of-type(1){
                    opacity: 0;
                    transform: translateY(-30px);
                }
                &:nth-of-type(2){
                    opacity: 1;
                    transform: translateY(-30px);
                }
            }
        }
    }

    .hamburger{
        position: fixed; z-index: 5;
        top: 2%;
        right: 2%;
        width: 40px;
        height: 40px;
        background: #eee;
        border-radius: 40px;
        cursor: pointer;

        P{
            position: relative;
            top: 50%;
            left: 50%;
            height: 50%;
            width: 23px;
            height: 11px;
            transform: translate(-50%,-50%);

            span{
                position: absolute;
                width: 100%;
                height: 2px;
                border-radius: 20px;
                background: #111;	
                transition: .3s;

                &:last-child{
                    bottom: 0;
                }
            }
        }

        &.on{
            p{
                span{
                    &:first-child{
                        top: 50%;
                        transform: translateY(-50%) rotate(45deg);
                    }
                    &:last-child{
                        top: 50%;
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }
        }
    }

    .sns{
        position: fixed; z-index: 5;
        top: 50%;
        left: 4%;
        transform: translateY(-50%);

        ul{
            li{
                margin-bottom: 10px;

                a{
                    font-size: 22px;
                    color: #eee;
                    transition: .3s;
                }

                &:hover{
                    a{
                        text-shadow: 0 0 4px;
                    }
                }
            }
        }
    }
}
//서브 메뉴
.sub_menu_page{
    display: none;
	position: fixed;
    z-index: 4;
    top: 2.5%;
    right: 2.5%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #1f1f1f;
    transition: .6s cubic-bezier(0.39, 0.24, 0.43, 0.68);

    &.show{
        display: block;
        width: 200vw;
        height: 200vh;
        top: -100px;
        right: -100px;
        border-radius: 40px;
    }

    ul{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

        li{
            margin-bottom: 25px;
            color: #fff;
            font-size: 3vw;
            font-weight: bold;
            opacity: 0;
            cursor: pointer;
            transform: translateX(70px);
            animation: Show 1s cubic-bezier(0, 0, 0.43, 0.96) forwards;

            &:nth-of-type(1){animation-delay: .5s;}
            &:nth-of-type(2){animation-delay: .8s;}
            &:nth-of-type(3){animation-delay: 1.1s;}
            &:nth-of-type(4){animation-delay: 1.4s;}
            &:nth-of-type(5){animation-delay: 1.7s;}
        }

        @keyframes Show{
            0%{opacity: 0; transform: translateX(150px);}
            100%{opacity: 1; transform: translateX(0px);}
        }
    }
}

//section//section//section
section{
	position: relative;
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;

    article{
        &.main_banner{
            position: relative;
            width: 100vw;
            background: #555;

            div{
                position: relative;
                width: 100%;
                height: 100%;

                p{
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    &:nth-of-type(1){left: 0%;}
                    &:nth-of-type(2){left: 100%;}
                    &:nth-of-type(3){left: 200%;}
                    &:nth-of-type(4){left: 300%;}

                    span{
                        position: absolute;
                        top: 75%;
                        left: 13%;
                        transform: translateY(-10%);
                        font-size: 1.5vw;
                        font-weight: bold;
                        color: #eee;
                        opacity: 0;
                        transition: 1s;

                        i{
                            color: red;
                        }
                    }

                    &.on{
                        span{
                            opacity: 1;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        &:nth-of-type(2){
            position: relative;
            width: 100%;
            padding: 180px 30px;
            background: linear-gradient(180deg, rgba(32,32,32,1) 35%, rgba(0,0,0,1) 80%);
            box-sizing: border-box;

            div{
                position: relative;
                max-width: 1250px;
                margin: 0 auto;

                p{
                    position: relative;
                    width: calc(25% - 10px);
                    float: left;
                    margin-right: 13px;
                
                    overflow: hidden;
                    box-sizing: border-box;
                    border: 1px solid #121212;
                    border-radius: 7px;
                    transform: translateY(100px) scale(1.1); 
                    transition: 1s; 
                    opacity: 0;

                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }

                    &:nth-child(odd){
                        transform: translateY(-100px);
                    }

                    &:last-child{
                        margin-right: 0;

                        span{
                            &:nth-of-type(2){
                                top: 20%;
                            }
                        }
                    }

                    img{
                        border-radius: 7px;
                        transition: .3s;
                    }

                    span{
                        position: absolute; z-index: 3;
                        top: 5%;
                        left: 5%;
                        font-size: .65vw;
                        color: #eee;
                        transition: 1s; 
                        transform: translateX(100px);
                        opacity: 0;

                        &:nth-of-type(2){
                            top: 14%;
                            font-size: .9vw;
                            font-weight: bold;
                            transition: 1.2s;
                            word-break: keep-all;
                        }

                        i{
                            color: red;
                        }
                    }
                }
            }

            &.on{
                div{
                    p{
                        opacity: 1;

                        &:nth-of-type(1){
                            background: #000;
                            transform: translateY(-30px);
                        }
                        &:nth-of-type(2){
                            background: #000;
                            transform: translateY(30px);
                        }
                        &:nth-of-type(3){
                            background: #090909;
                            transform: translateY(-30px);
                        }
                        &:nth-of-type(4){
                            background: #685c4e;
                            transform: translateY(30px);
                        }

                        span{
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }

        &:nth-of-type(3){
            position: relative;
            width: 100%;
            height: 55vh;
        
            background: linear-gradient(180deg, rgba(219,219,219,1) 50%, rgba(173,173,173,1) 100%);

            div{
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 80%;
                height: 100%;
                margin-left: 1.3%;

                ul{
                    position: relative;
                    width: 100%;
                    height: 100%;

                    li{
                        position: absolute;
                        width: calc(20% - 20px);
                        /*height: 100%;*/
                        /*float: left;*/
                        box-sizing: border-box;
                        border: 1px solid #c5c5c5;
                        border-radius: 5px;

                        span{
                            position: absolute;
                            left: 5%;
                            font-weight: bold;

                            &:nth-of-type(1){
                                top: 5%;
                                font-size: .8vw;
                            }
                            &:nth-of-type(2){
                                top: 14%;
                                font-size: 1.1vw;
                            }

                            i{
                                color: red;
                            }
                        }

                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        /*article 4번째*/
        &:nth-of-type(4){
            position: relative;
            width: 100%;
            padding: 209px 30px;
            box-sizing: border-box;
            background-image: linear-gradient( 62deg , rgb(253,105,94) 13%, rgba(255, 122, 151, 0.5) 4%), linear-gradient( 44deg , rgba(0, 43, 99, 0.0792209024) 39%, rgba(255,255,255,.5) 18%), linear-gradient( 118deg , rgba(84, 202, 242, 0.0315299727) 40%, rgba(128,119,165,.5) 54%), linear-gradient( 58deg , rgb(113,80,74) 83%, rgba(249, 156, 142, 0.5) 23%);
            background-blend-mode: normal, lighten, multiply, hard-light;

            
            &.on{
                div{
                    p{
                        &:nth-of-type(1){
                            transform: translate(-108%,-87%) rotate(-20deg);
                        }
                        &:nth-of-type(2){
                            transform: translate(0%,-100%) rotate(13deg);
                        }
                        &:nth-of-type(3){
                            transform: translate(-10%,-7%) rotate(15deg);
                        }
                        &:nth-of-type(4){
                            transform: translate(-94%,0%) rotate(-5deg);
                        }
                    }
                }
            }

            div{
                position: relative;
                max-width: 1200px;
                margin: 0 auto;

                p{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 20%;
                    border-radius: 5px;
                    transition: 1s;
                    opacity: .8;

                    &:hover{
                        z-index: 3;
                        opacity: 1;
                    }

                    &:nth-child(even){
                        width: 27%;
                    }

                    &:nth-of-type(1){
                        &.hover{
                            transform: translate(-118%,-97%) rotate(-22deg);
                        }
                    }
                    &:nth-of-type(2){
                        &.hover{
                            transform: translate(10%,-104%) rotate(11deg);
                        }
                    }
                    &:nth-of-type(3){
                        &.hover{
                            transform: translate(5%,-4%) rotate(17deg);
                        }
                    }
                    &:nth-of-type(4){
                        &.hover{
                            transform: translate(-104%,10%) rotate(-7deg);
                        }
                    }

                    img{
                        border-radius: 5px;
                    }
                }

            }         
        }

        &:nth-of-type(5){
            position: relative;
            width: 100%;
            height: 100%;
            background: #ed1c24;

            img{
                width: 100%;
                height: 100%;
            }

            div{
                position: absolute;
                bottom: 10%;
                left: 5%;
                font-size: 1.5vw;
                font-weight: bold;

                h3{
                    position: relative;
                    display: inline-block;
                    padding-bottom: 3%;
                    font-size: 2vw;
                
                    opacity: 0;
                    transform: translateY(100px);
                    transition: 1.5s;

                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 40%;
                        height: 4px;
                        background: #000;
                    }

                    span{
                        color: #ed1c24;
                    }
                }

                p{
                    padding-top: 3%;
                    font-weight: normal;
                
                    opacity: 0;
                    transform: translateX(100px);
                    transition: 1.7s;
                }
            }

            &.on{
                div{
                    h3{
                        opacity: 1;
                        transform: translateY(0px);
                    }

                    p{
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }
            }
        }

        // article 6번째
        &:nth-of-type(6){
            position: relative;
            width: 100%;
            height: 20vh;
            padding-left: 100px;
            background: #ed1c24;

            h4{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding: 0 20px;
                box-sizing: border-box;
                font-size: 1vw;
                color: #fff;

                span{
                    display: block;
                    margin-top: 3%;
                    font-size: 1.2vw;
                }
            }
        }
    }
}

body{
    &.pc{
        article{
            &.article3{
                div{
                    ul{
                        li{
                            &:nth-of-type(1){left: 0%;}
                            &:nth-of-type(2){left: 20%;}
                            &:nth-of-type(3){left: 40%;}
                            &:nth-of-type(4){left: 60%;}
                            &:nth-of-type(5){left: 80%;}
                            &:nth-of-type(6){left: 100%;}
                            &:nth-of-type(7){left: 120%;}
                            &:nth-of-type(8){left: 140%;}
                            &:nth-of-type(9){left: 160%;}
                            &:nth-of-type(10){left: 180%;}
                            &:nth-of-type(11){left: 200%;}
                        }
                    }
                }
            }
        }
    }

    &.tablet{
        article{
            &.article3{
                div{
                    ul{
                        li{
                            &:nth-of-type(1){left: 0%;}
                            &:nth-of-type(2){left: 25%;}
                            &:nth-of-type(3){left: 50%;}
                            &:nth-of-type(4){left: 75%;}
                            &:nth-of-type(5){left: 100%;}
                            &:nth-of-type(6){left: 125%;}
                            &:nth-of-type(7){left: 150%;}
                            &:nth-of-type(8){left: 175%;}
                            &:nth-of-type(9){left: 200%;}
                            &:nth-of-type(10){left: 225%;}
                            &:nth-of-type(11){left: 250%;}
                        }
                    }
                }
            }
        }
    }

    &.mobile{
        article{
            &.article3{
                div{
                    ul{
                        li{
                            &:nth-of-type(1){left: 0%;}
                            &:nth-of-type(2){left: 50%;}
                            &:nth-of-type(3){left: 100%;}
                            &:nth-of-type(4){left: 150%;}
                            &:nth-of-type(5){left: 200%;}
                            &:nth-of-type(6){left: 250%;}
                            &:nth-of-type(7){left: 300%;}
                            &:nth-of-type(8){left: 350%;}
                            &:nth-of-type(9){left: 400%;}
                            &:nth-of-type(10){left: 450%;}
                            &:nth-of-type(11){left: 500%;}
                        }
                    }
                }
            }
        }
    }
}


//footer//footer//footer//footer
footer{
    position: relative;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #000;
	border-bottom: 1px solid #aaa;
	box-sizing: border-box;

    nav{
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #1d1d1d;

        &.mobile_footer_nav{
            display: none;
        }

        & > div{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            & > div{
                color: #fff;

                p{
                    margin-bottom: 15px;
                    font-weight: bold;

                    &:nth-of-type(2){
                        margin-top: 30px;
                    }
                }

                span{
                    display: block;
                    line-height: 1.5em;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }
    }

    & > div{
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        margin-top: 34px;

        ul{
            position: relative;
            width: 91%;
            height: 110px;

            li{
                float: left;
                margin-right: 1%;
                margin-bottom: 2px;
                font-size: 13px;
                color: #fff;

                span{
                    color: #aaa;
                }
            }
        }

        p{
            color: #fff;
            font-size: 14px;
        }
    }
}


								/*미디어 쿼리 (테블릿 버전)*/
								/*미디어 쿼리 (테블릿 버전)*/
								/*미디어 쿼리 (테블릿 버전)*/
								/*미디어 쿼리 (테블릿 버전)*/
								/*미디어 쿼리 (테블릿 버전)*/

@media (max-width: 769px) and (min-width: 505px) {
    section {
        article{
            &:nth-of-type(2){
                padding: 20% 30px;
            }

            &:nth-of-type(3){
                height: 42vh;

                div{
                    width: 98%;

                    ul{
                        li{
                            width: calc(25% - 20px);
                        }
                    }
                }
            }
        }
    }
}



								/*미디어 쿼리 (모바일 버전)*/
								/*미디어 쿼리 (모바일 버전)*/
								/*미디어 쿼리 (모바일 버전)*/
								/*미디어 쿼리 (모바일 버전)*/

@media (max-width: 500px){

.sub_menu_page{
    ul{
        li{
            font-size: 4.3vw;
        }
    }
}
section{
    
    article{
        &.main_banner{
            div{
                p{
                    span{
                        top: 85%;
                        left: 5%;
                        font-size: 15px;
                    }
    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }
            }
        }

        &:nth-of-type(2){
            padding: 50% 30px;

            div{
                height: 294px;

                p{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 45%;

                    span{
                        font-size: 2.2vw;

                        &:nth-of-type(2){
                            top: 16%;
                            font-size: 2.5vw;
                            word-break: keep-all;
                        }
                    }
                }
            }

            &.on{
                div{
                    p{
                        &:nth-of-type(1){
                            transform: translate(-108%,-105%);
                        }
                        &:nth-of-type(2){
                            transform: translate(8%,-105%);
                        }
                        &:nth-of-type(3){
                            transform: translate(-108%,5%);
                        }
                        &:nth-of-type(4){
                            transform: translate(8%,5%);
                        }

                        &:last-child{
                            span{
                                &:nth-of-type(2){
                                    top: 23%;
                                }
                            }
                        }
                    }
                }
            }
        }

        &:nth-of-type(3){
            height: 63vh;

            div{
                width: 98%;
                margin-left: 2.65%;

                ul{
                    li{
                        width: calc(50% - 20px);

                        span{
                            &:nth-of-type(1){
                                font-size: 11px;
                            }
                            &:nth-of-type(2){
                                top: 17%;
                                font-size: 3.7vw;
                                line-height: 1.4em;
                            }
                        }
                    }
                }
            }

        }

        &:nth-of-type(4){
            padding: 100px 30px;
        }

        &:nth-of-type(5){
            div{
                h3{
                    font-size: 15px;

                    &::after{
                        height: 2px;
                    }
                }
                p{
                    font-size: 12px;
                }
            }
        }

        &:nth-of-type(6){
            padding-left: 0;

            h4{
                font-size: 12px;

                span{
                    font-size: 14px;
                    word-break: keep-all
                }
            }
        }

        &.sns{
            display: none;
        }
    }  
}

footer{
    nav{
        &.pc_footer_nav{
            display: none;
        }

        &.mobile_footer_nav{
            display: block;
            color: #fff;

            & > ul{
                position: relative;
                width: 100%;

                & > li{
                    position: relative;
                    padding: 8px 0;
                    font-size: 16px;
                    font-weight: bold;
                    border-bottom: 1px solid #666;

                    span{
                        position: absolute;
                        top: 11px;
                        right: 3px;
                        width: 7px;
                        height: 7px;
                        border-left: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        transform: rotate(-45deg);
                    }

                    &:last-child{
                        border-bottom: none;
                    }

                    & > ul{
                        display: none;
                        padding: 5px 0;

                        & > li{
                            padding: 6px 0 6px 20px;
                            font-size: 15px;
                            font-weight: normal;
                            cursor: pointer;
                            transition: all .2s;

                            &:hover{
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

}